#client
client/build
client/.env
client/node_modules
client/package-lock.json

#server
server/.env
server/node_modules
server/package-lock.json
server/coverage
server/seed.js

#App
App/
MyApp/


server/services/pdfRenderer.py
UI/
dev/
